{% extends 'base.html' %}
{% load static %}

{% block meta %}
    <title>Search Books</title>
    <link rel="stylesheet" href="{% static 'css/style-Story8.css' %}" type="text/css">
{% endblock meta %}

{% block content %}
    <div class="container">
        <div>
            <h3 style="text-align: center">Pencarian Buku</h3>
            <input class="form-control"  id="keyword" placeholder="Masukkan judul Buku">
        </div>
        <div class="accordion">
        </div>
    </div>

    <script src="{% static 'js/search.js' %}"></script>
{% endblock content %}
