.accordion {
    width: 100%;
    padding: 0 15px;
}

.accordion .contentslide {
    position: relative;
    margin: 1% 0;
    width: 100%;
}

.accordion .contentslide .label {
    position: relative;
    padding: 10px;
    background: #0f74a8;
    color: ghostwhite;
}

.accordion .contentslide .row {
    margin-right: 0;
    margin-left: 0;
}

.accordion .contentslide .label::before {
    transform: translateY(-50%);
}

div.content {
    width: inherit;
    position: relative;
    background: #ffffcc;
    height: 100%;
    overflow: hidden;
    transition: 0.5s;
    overflow-y: auto;
    display: none;
}

div.content.active {
    display: block;
}

.th {
    width: 20%;
    padding-left: 20px;
    padding-top: 5px;
    padding-bottom: 5px;
}

.img {
    display: block;
    margin: 10px auto;
}