{% extends 'base.html' %}
{% load static %}

{% block meta %}
<title>Log Out</title>
{% endblock meta %}

{% block content %}
  <div class="container">
    <p style="text-align: center">Apkah anda ingin logout</p>
    <form method="post">
        {% csrf_token %}
        <div style="text-align: center">
            <button class= "btn btn-primary" name='boolean' type="submit" value="true" style="margin-top: 20px">Ya</button>
            <button class= "btn btn-primary" name='boolean' type="submit" value="false" style="margin-top: 20px">Tidak</button>
        </div>
    </form>
  </div>
{% endblock content %}