{% extends 'base.html' %}
{% load static %}

{% block meta %}
<title>Sign Up</title>
{% endblock meta %}

{% block content %}
    <div class="container">
        <h3 style="text-align: center">DAFTARKAN DIRI ANDA</h3>
        <form method="post" class="form-group" enctype="multipart/form-data">
            {% csrf_token %}
            <div class="form-group row">
                <label for="username" class="col-2 col-form-label">Username</label>
                <div class="col-10">
                    <input type="text" name="username" class="form-control" id="username">
                </div>
            </div>
            <div class="form-group row">
                <label for="email" class="col-2 col-form-label">Email</label>
                <div class="col-10">
                    <input type="email" name="email" class="form-control" id="emailUser">
                </div>
            </div>
            <div class="form-group row">
                <label for="password" class="col-2 col-form-label">Password</label>
                <div class="col-10">
                    <input type="password" name="password" class="form-control" id="password">
                </div>
            </div>
            <div style="text-align: center">
               <button class= "btn btn-primary" type="submit" style="margin-top: 20px">Daftar</button>
           </div>
        </form>
    </div>
{% endblock content %}
