* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


body {
}

.flex {
    display: flex;
    justify-content: center;
    align-items: center;
}

.accordion {
    width: 100%;
}

.accordion .contentslide {
    position: relative;
    margin: 10px 20px;
    width: 100%;
}

.accordion .contentslide .label {
    position: relative;
    padding: 10px;
    background: #0f74a8;
}

.accordion .contentslide .label::before {
    transform: translateY(-50%);
}

div.content {
    position: relative;
    background: #ffffcc;
    height: 100%;
    overflow: hidden;
    transition: 0.5s;
    overflow-y: auto;
    display: none;
}

div.content.active {
    display: block;
}

