{% extends 'base.html' %}
{% load static %}

{% block meta %}
    <title>Buat Isi Accordion</title>
    <link rel="stylesheet" href="{% static 'css/style_Story_7.css' %}" type="text/css">
{% endblock meta %}

{% block content %}
    <div class="container">
        <div style="text-align: center">
            <h2>Buat Isi Accordion</h2>
        </div>
       <form method="post" class="form-group" enctype="multipart/form-data">
           {{ form_listhistory.media }}
           {% csrf_token %}
           <div class="form-group row">
               <label for="{{ form_listhistory.name.id_for_label }}" class="col-sm-2 col-form-label">List Dropdown:</label>
               <div class="col-sm-10">
                   {{ form_listhistory.name }}
               </div>
           </div>
           <div class="form-group row">
               <label for="{{ form_listhistory.history.id_for_label }}" class="col-sm-2 col-form-label">Accordion:</label>
               <div class="col-sm-10">
                   {{ form_listhistory.history }}
               </div>
           </div>
           <div style="text-align: center">
               <button class= "btn btn-primary" type="submit" style="margin-top: 20px">Submit</button>
           </div>
       </form>
    </div>
{% endblock content %}