{% extends 'base.html' %}
{% load static %}

{% block meta %}
    <title>Tentang Saya</title>
    <link rel="stylesheet" href="{% static 'css/style_Story_7.css' %}" type="text/css">
{% endblock meta %}

{% block content %}
    <div class="container">
        <div style="text-align: center">
            <h2>Tentang saya</h2>
        </div>
        <div class="flex">
            {% if history != 0 %}
                <div class="accordion">
                    {% for histo in history %}
                    <div class="contentslide">
                        <div class="label">
                            <div class="row">
                                <div class="col-6">
                                    <p style="color: whitesmoke;">{{ histo.name }}</p>
                                </div>
                                <div class="col-2">
                                    <button type="button" class="btn btn-primary btn-slider">+</button>
                                </div>
                                <div class="col-2">
                                    <button type="button" class="btn btn-primary btn-up" style="background-color: #fe6a60; border-color: #fe6a60;">^</button>
                                </div>
                                <div class="col-2">
                                    <button type="button" class="btn btn-primary btn-down" style="background-color: #fe6a60; border-color: #fe6a60;">V</button>
                                </div>
                            </div>
                        </div>
                        <div class="content">
                            <ul>
                            {% for list in listhistory %}
                                {% if list.history.name == histo.name %}
                                        <li>{{ list.name }}</li>
                                {% endif %}
                            {% endfor %}
                            </ul>
                        </div>
                    </div>
                    {% endfor %}
                </div>
            {% else %}
                <h3>KOSONG</h3>
            {% endif %}
        </div>
        {% if user.is_authenticated %}
            <div style="text-align: center">
                <a href="{% url 'history:create-accordion' %}"><button class= "btn btn-primary" style="margin-top: 20px">Tambah Accoridon</button></a>
                <a href="{% url 'history:create-accordion-dropdown' %}"><button class= "btn btn-primary" style="margin-top: 20px">Tambah Konten</button></a>
            </div>
        {% endif %}
    </div>
    <script src="{% static 'js/slider.js' %}"></script>
{% endblock content %}